@page
@model Forkful.Pages.PastaItemsModel
@{
    ViewData["Title"] = "PastaItems";
}
<div class="row">
    @foreach (var pasta in Model.Pastas)
    {
        <div id="pastaContainer" class="col-lg-3 col-md-6 col-sm-12">
            <img id="pastaImage" src="@pasta.pasta_image" alt="@pasta.pasta_name" />
            <span id="pastaTitle">@pasta.pasta_name</span>
               <span id="pastaPrice">Rs. Coming Soon</span>
                 <span > <input id="pastaQuantity" type="number" name="quantity" value="" placeholder="0"/></span>
                 <span id="cartButton"><button>Add to Cart</button></span>
                </div>
    }
</div>
